
<a
class="text-black"
style="cursor: pointer"
[routerLink]="['/recipes',index]"
routerLinkActive="active"
>
<div class="d-flex justify-content-between">
  <div class="">
    <h4 class="list-group-item-heading text-black">{{ recipeItem.name }}</h4>
    <p class="list-group-item-text text-black">{{ recipeItem.description }}</p>
  </div>
  <span class="">
    <img
    [src]="recipeItem.imagePath"
      alt="{{ recipeItem.name }}"
      class="img-fluid rounded"
      />
    </span>
  </div>
</  a>
  <ng-content></ng-content>