<!-- Navbar Bootstrap -->
<nav
  class="navbar navbar-expand-md bg-secondary sticky-top"
  data-bs-theme="light"
>
  <div class="container-fluid">
    <a class="navbar-brand fw-bold">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            routerLink="/recipes"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            Recipes
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            routerLink="/shopping-list"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            Shopping List
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fw-bold"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="onPutAllRecipes()"
                >Save recipes</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="onGetAllRecipes()"
                >Load recipes</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <button class="nav-item d-flex btn btn-warning">
        <a
          class="nav-link fw-semibold text-green-700"
          routerLink="/auth"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          *ngIf="!userAuthorized"
          >Login | Signup</a
        >
        <a
          class="nav-link bg-green-light fw-semibold"
          routerLink="/auth"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          *ngIf="userAuthorized"
          (click)="isLogout()"
          >Logout</a
        >
      </button>
    </div>
  </div>
</nav>

<!-- Old Menu 
  
  
  <ul class="navbar navbar-nav">
  <div class="container-fluid justify-content-start align-items-center">
    <li class="">
      <a class="navbar-brand" style="cursor: pointer">Recipe Book</a>
    </li>
    <li class="nav-item px-2" style="cursor: pointer">
      <a
        class="nav-link"
        routerLink="/recipes"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Recipes</a
      >
    </li>
    <li class="nav-item px-2">
      <a
        class="nav-link"
        routerLink="/shopping-list"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Shopping List</a
      >
    </li>
    <li class="nav-item px-2 ms-auto">
      <a
        class="nav-link bg-primary text-white rounded-2 py-2 px-3"
        routerLink="/auth"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        *ngIf="!userAuthorized"
        >Login | Sign Up</a
      >
      <a
        class="nav-link bg-primary text-white rounded-2 py-2 px-3"
        routerLink="/auth"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        *ngIf="userAuthorized"
        (click)="isLogout()"
        >Logout</a
      >
    </li>
    <li ngbDropdown class="nav-item">
      <a href (click)="(false)" class="nav-link" ngbDropdownToggle>Manage</a>
      <div ngbDropdownMenu class="" style="position: absolute; left: -110px">
        <button ngbDropdownItem (click)="onPutAllRecipes()">
          Save recipes
        </button>
        <button ngbDropdownItem (click)="onGetAllRecipes()">
          Load recipes
        </button>
      </div>
    </li>
  </div>
</ul> -->
