<!-- Modal -->
<div
  class="modal fade show backdrop"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="false"
  [ngStyle]="visibility"
  (click)="close($event)"
>
  <!-- style="display: block" -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="close($event)"
        ></button>
      </div>
      <div class="modal-body text-danger">
        {{ alertMessage }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="close($event)"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
