<div class="row">
  <div class="col-xs-12">
    <h3 appBetterHightlight2 [backgroundColor]="'green'">Edit shopping list</h3>
    <!-- we can use backgroundColor without [] coz its the string and then we can write just "green" without double "''" -->
    <!-- alsou we can use [appBetterHightlight2]="'green'" if we wana use Directive name for shortcut and asine this name in one of 
      Inputs like this @Input('appBetterHightlight2') like an aliase -->
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="row">
        <div class="col-sm-5">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            required
            #name="ngModel"
            ngModel
          />
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            pattern="^[1-9]+[0-9]*$"
            required
            #amount="ngModel"
            ngModel
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn mt-2 me-2 btn-success"
            type="submit"
            [disabled]="!form.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn mt-2 me-2 btn-danger"
            type="button"
            (click)="onDelete()"
            [disabled]="!editMode"
          >
            Delete
          </button>
          <button
            class="btn mt-2 me-2 btn-primary"
            type="button"
            (click)="onClear()"
            [disabled]="!name.dirty && !amount.dirty && !editMode"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
