<div class="bg-danger bg-opacity-10 rounded m-2 p-2">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ recipe.name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.imagePath" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ngbDropdown class="d-inline-block dropdown">
        <button
          type="button"
          class="btn btn-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Manage Recipe
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="onAddToShoppingList()">
            To Shopping List
          </button>
          <button ngbDropdownItem (click)="onEditRecipe()">Edit</button>
          <button ngbDropdownItem (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">{{ recipe.description }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients"
        >
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>
